<h1>MEDIHELP</h1>

<h2><%= link_to @patient.full_name %></h2>
<hr>
<h3>Personal information</h3>
<p>Name : <%=  @patient.full_name %></p>
<p>Age : <%=  @patient.age %></p>
<p>Height : <%= @patient.height %></p>
<p>Weight : <%= @patient.weight %></p>
<p>Relationship Status : <%= @patient.relationship_status %></p>
<p>Employment Status : <%= @patient.employment_status %></p>
<p>Address : <%= @patient.address %></p>
<p>Contact Number : <%= @patient.contact_number %></p>
<p>Email : <%= @patient.email %></p>
<br>
<h3>Medical History</h3>
<p>Symptoms :</p>
<p>Past Appoinments : </p>
